@font-face {
  font-family: led;
  src: url(../public/font/led.ttf);
}

* {
  padding: 0;
  margin: 0;
}

html {
  background: black;
}

.font-dots {
  font-family: led;
  color: rgb(222, 213, 45);
  font-size: 36px;
}

.table .row {
  display: flex;
  justify-content: space-between;
  margin: 4px;
}

.mt-4 {
  margin-top: 16px;
}

.text-center {
  text-align: center;
}